<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
<!--    <bean class="com.array.ioc.base.UserDao" id="userDao"></bean>-->
    <bean class="com.fc.base.spring.demo1.BookService" id="bservice">
        <!--为BookService的属性设值取值  -->
        <property name="otherService" ref="otherService"></property>
    </bean>
    <bean class="com.fc.base.spring.demo1.OtherService" id="otherService">
        <property name="bookService" ref="bservice"></property>
    </bean>
</beans>